<header>
    <img class="carro" src="https://img.icons8.com/dotty/344/driving-guidelines.png" alt="carro">
    <nav>
        <ul class="link">
            <li><a href="/">Inicio</a></li>
            <li><a href="/detalhe">Cadastro</a></li>
            <li><a href="#">Sobre</a></li>
            
        </ul>
    </nav>
</header>