<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detalhe.css " tpye="text/css" />
    <title>Cadastro</title>
  </head>
  <body>
    <%- include('./partials/header2.ejs') %>
    <main>
      <form action="/cadastro" method="post">
        <legend>Cadastre seu Automóvel</legend>
        <fieldset>
          <input type="text" name="img" />
          <label for="img">Img</label>
        </fieldset>

        <fieldset>
          <input type="text" name="modelo" />
          <label for="modelo"><b>Modelo</b></label>
        </fieldset>

        <fieldset>
          <input type="number" name="ano" />
          <label for="ano"><b>Ano</b></label>
        </fieldset>

        <fieldset>
          <input type="text" name="tanque" />
          <label for="tanque"><b>Tanque</b></label>
        </fieldset>

        <fieldset>
          <input type="text" name="autonomia" />
          <label for="autonomia"><b>Autonomia</b></label>
        </fieldset>

        <fieldset>
          <input type="text" name="fabricante" />
          <label for="fabricante"><b>Fabricante</b></label>
        </fieldset>

        <div id="bn-container">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </main>
  </body>
</html>
