@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #24252A;
}
header{
    
    background: #0088a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 10%;
    box-shadow: 5px 0 0 1px #ffff;
}
li, a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.carro{
    cursor: pointer;
    width: 4%;
    order: 2;
}
.link{
    list-style: none;
}
.link li{
    display: inline-block;
    padding: 0 20px;
}
.link li a{
    transition: all 0.3s ease 0s;
}
.link li a:hover {
    color: #24252A
}

/*----------------------
          INDEX
-------------------------
-------------------------
*/
h1{
    margin-top: 20px;
    text-align: center;
    color: #edf0f1;
    
}
main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

}
div.card-main{  
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;  
    background-color: #0088a9;
    width: 250px;
    height: 350px;
    border: 1px solid #ffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
div.card-img{
    display: flex;  
    justify-content: center;
    height: 80%;
    width: 100%;   
    padding: 10px;
}
div.card-img img{
    width: 100%;
}
main .card-text-style{
    display: flex;
    align-items: center;
    text-align: center;
}
div.btn-delite {
    padding-left: 5px;
    display:flex;
    justify-content: center;
    gap: 20px;
}
main a.delite img{
    width: 40px;
}
a.editar{
    display:flex;
    justify-content: center;
}
img.bnt-editar{
    width: 40px;
}
/*--------------Footer-----------*/


footer{
    margin-top: 30px;
    background: #0088a9;
    padding: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
footer p{
    text-decoration: none;
    font-size: 30px;
}